<!DOCTYPE html>
<html lang="zh-cn" >

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="baidu-site-verification" content="remmrkkuCo" />
        <title>(゜ -゜)つロ弹幕视频网ilidilid -   乾杯~ ilidilid - </title>

        
        <meta name="description" content="ilidilid是一家弹幕站点,大家可以在这里找到许多的欢乐.">
        <meta name="keywords" content="I站 弹幕 字幕 AMV MAD MTV ANIME 动漫 动漫音乐 游戏 游戏解说 ACG galgame 动画 番组 新番 初音 洛天依 vocaloid">
    <meta http-equiv="Page-Enter" content="blendTrans(Duration=0.5)">
    <meta http-equiv="Page-Exit" content="blendTrans(Duration=0.5)">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> ilidilid.com</title>
    <style type="text/css">
    body {
        margin: 0;
    }
    
    div.center {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -250px 0 0 -320px;
        width: 640px;
        min-height: 427px;
        padding: 0px;
    }
    
    div.errmsg {
        text-align: left;
        width: 640px;
        line-height: 150%;
    }
    
    a {
        text-decoration: none;
        color: red
    }
    
    a:hover {
        text-decoration: underline;
    }
    div.foot {
        margin: 0px auto;
        width: 150px;
        padding-top: 700px;
    }
    </style>
</head>

<body style="direction: ltr;">
    <div class="center">
        <img id="img_error" style="-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);/*IE*/filter:FlipH;" src="http://static.hdslb.com/error/500.png" height="427" width="640">
    </div>
    <div class="foot">
       <a style="color:#2b2b2b" href="http://www.miitbeian.gov.cn/">沪ICP备15042305号</a>
    </div>
</body>
<script type="text/javascript">
    console.log('镜中世界，所有视频页面都可如以下例子进行镜中反转');
    console.log('www.ilidilid.com/video/av2053');
    console.log('www.ilidilid.com/bilibili');
    console.log('message: {{message}}');
    console.log('error:  {{error}}');
</script>
</html>