<html xmlns="http://www.w3.org/1999/xhtml">
<head>		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="baidu-site-verification" content="remmrkkuCo" />
		<title>ilidilid弹幕视频网 - (゜ -゜)つロ  乾杯~ ilidilid - </title>

		
		<meta name="description" content="ilidilid是一家弹幕站点,大家可以在这里找到许多的欢乐.">
		<meta name="keywords" content="I站 弹幕 字幕 AMV MAD MTV ANIME 动漫 动漫音乐 游戏 游戏解说 ACG galgame 动画 番组 新番 初音 洛天依 vocaloid">
</head>
<body style="margin:0px">
<iframe src="http://www.bilibili.com/{{type}}/{{id}}" frameborder="0" width="100%" height="100%"></iframe>
</body>
</html>